.company__container {
  margin-bottom: 124px;
}
.company__inner {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1411px;
}

.company__button {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -1px;
  border-radius: 20px;
  background: #eee;
  width: 217px;
  height: 32px;
  display: inline-block;
  text-align: center;
  margin-top: 101px;
  margin-bottom: 54px;
  padding: 3px 36px;
  white-space: nowrap;
}

.company__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.company__item-head {
  width: 686px;
  height: 252px;
}
.company__title {
  color: #1a323c;
  font-family: "Crete Round", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 125%;
}

.company__title-elem {
  color: #0f7dff;
  font-family: "Crete Round", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 125%;
}

.company__item {
  width: 335px;
  height: 250px;
  border-radius: 20px;
  position: relative;
}

.background-grey {
  background: #eee;
}

.company__item-title {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -1px;
  text-transform: uppercase;
  padding-top: 64px;
  padding-left: 34px;
}

.company__img {
  position: absolute;
  top: 10px;
  right: 11px;
}
.company__item-text {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.8px;
  padding: 25px 25px;
}

/* Adaptive --------------- */

@media (max-width: 390px) {
  .company__container {
    margin-bottom: 10px;
  }
  .company__inner {
    max-width: 390vw;
  }
  .company__button {
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 0px;
    max-width: 56px;
    font-size: 2vw;
  }

  .company__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* padding: 0 10px; */
    margin: 0 auto;
  }

  .company__item-head {
    width: 60vw;
    margin: 0 auto;
    height: 30vh;
  }
  .company__title {
    font-size: 5vw;
  }
  .company__title-elem {
    font-size: 5vw;
  }
  .company__item {
    height: 40vh;
    width: 80vw;
    margin: 0 auto;
  }
  .background-grey {
    width: 80vw;
    height: 40vh;
  }
  .company__item-title {
    font-size: 3vw;
    padding-left: 5px;
  }
  .company__item-text {
    font-size: 3vw;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 0px;
  }

  .company__img {
    top: 17px;
    right: 24px;
  }
}
