.product__container {
  
  margin-bottom: 73px;
}

.product__inner {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1411px;
}

.product__title {
  color: #1a323c;
  font-family: 'Crete Round', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 55px;
}
.product__title_elem {
  color: #0f7dff;
  font-family: 'Crete Round', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 125%;
}

.product__machine-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
  max-width: 1196px;
}

.product__machine-item {
  text-align: center;
  max-width: 332px;
}

.machine__img {
  width: 100%;
  width: 179px;
  height: 239.209px;
  margin-top: 24px;
  margin-bottom: 31px;
}

.machine__title {
  color: #000;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 14px;
}

.machine__text {
  color: #000;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.6px;
  margin-bottom: 24px;
}
