.top__container {
}

.top__inner {
  margin: 0 auto;
  padding: 0 10px;
  min-height: 700px;
  max-width: 1411px;
  background-image: url(./../../img/top/topBackground.png);
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  padding-left: 65px;
}

.top__link {
  color: #000;
  max-width: 179px;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -1px;
  border-radius: 20px;
  background-color: #eee;
  display: inline-block;
  padding: 3px 36px;
  white-space: nowrap;
  text-align: center;
  margin-top: 201px;
}

.top__title {
  padding-top: 39px;
  padding-bottom: 35px;
  color: #002770;
  font-family: "Cuprum", sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 35.589px;
}

.top__text {
  color: #1a323c;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.6px;
  padding-bottom: 35px;
}

.top__img {
  width: 435px;
  height: 581px;
  position: absolute;
  top: 244px;
  right: 330px;
}

.top__img1 {
  width: 351px;
  height: 347px;
  position: absolute;
  top: 549px;
  right: 449px;
}

.top__link2 {
  display: inline-block;
  border-radius: 20px;
  background-color: #0f7dff;
  max-width: 248px;
  width: 100%;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1px;
  padding: 14px;
  text-align: center;
}

.top__arrow-left {
  width: 92px;
  height: 92px;
  position: absolute;
  top: 549px;
  right: 228px;
}

.top__arrow-right {
  width: 92px;
  height: 92px;
  position: absolute;
  top: 549px;
  left: 212px;
}

@media (max-width: 390px) {
  .top__container {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .top__inner {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 390px;
    background-image: url(./../../img/top/topBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    padding-left: 10px;
  }
  .top__link {
    padding: 8px;
    margin-bottom: 5px;
    margin-top: 5px;
    max-width: 60px;
    font-size: 2vw;
    letter-spacing: 0px;
  }
  .top__title {
    font-size: 10vw;
    padding-bottom: 0px;
    padding-top: 0px;
    line-height: 70px;
    text-align: center;
  }

  .top__text {
    font-size: 5vw;
    padding-bottom: 15px;
    text-align: center;
    margin-bottom: 328px;
  }

  .top__link2 {
    max-width: 147px;
    font-size: 2vw;
    letter-spacing: 1px;
    margin: 0 auto;
    display: block;
  }

  .top__img1 {
    display: none;
  }

  .top__img {
    width: 285px;
    height: 304px;
    position: absolute;
    top: 237px;
    right: 43px;
  }
  .top__arrow-left {
    display: none;
  }
  .top__arrow-right {
    display: none;
  }
}
